name: CI/CD Build and release pipeline for (Development, Test, Production)

on:
  push:
    branches:
      - develop
      - main
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:

env:
  # SKIP_RELEASES: ${{ github.event_name == 'push' && 'true' || 'false' }}
  SKIP_RELEASES: 'false'
  SKIP_TST_RELEASE: ${{ vars.SKIP_TST_RELEASE || 'true' }}
  SKIP_PRD_RELEASE: ${{ vars.SKIP_PRD_RELEASE || 'true' }}
  PR_DEVELOP: ${{ github.event_name == 'pull_request_review' && github.event.pull_request.base.ref == 'develop' && 'true' }}
  PR_MAIN: ${{ github.event_name == 'pull_request_review' && github.event.pull_request.base.ref == 'main' && 'true' }}

defaults:
  run:
    shell: bash

jobs:

  check-settings:
    runs-on: ubuntu-latest
    steps:
      - name: Check pre-execution settings
        run: |
          echo "SKIP_RELEASES: ${{ env.SKIP_RELEASES }}"
          echo "SKIP_TST_RELEASE: ${{ env.SKIP_TST_RELEASE }}"
          echo "SKIP_PRD_RELEASE: ${{ env.SKIP_PRD_RELEASE }}"
          echo "PR_DEVELOP: ${{ env.PR_DEVELOP }}"
          echo "PR_MAIN: ${{ env.PR_MAIN }}"

  unit-test:
    needs: check-settings
    uses: ./.github/workflows/test-azure-function.yml
    with:
      KUI_SOLUTION: HttpPostExperiment.sln
      KUI_SOLUTION_BUILD_CONFIGURATION: Release
      environment: Development
    secrets: inherit

  build:
    needs: unit-test
    uses: ./.github/workflows/build-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development

  skip-releases:
    if: ${{ vars.SKIP_RELEASES == 'true' }} 
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check for Skipping releases
        run: |
          echo "SKIP_RELEASES: ${{ vars.SKIP_RELEASES }}"

  release-dev:
    needs: skip-releases
    uses: ./.github/workflows/release-azure-function-dev.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  skip-release-tst:
    if: ${{ (vars.KUI_SKIP_TST_RELEASE != 'false') && (github.event_name == 'push') }}
    needs: release-dev
    runs-on: ubuntu-latest
    steps:
      - name: Check for Skipping TST
        run: |
          echo "TST release check KUI_SKIP_TST_RELEASE: ${{ vars.KUI_SKIP_TST_RELEASE }}"

  approval-gate-tst:
    if: ${{ vars.KUI_SKIP_TST_RELEASE == 'false' }}
    needs: release-dev
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Test"

  release-tst:
    if: ${{ vars.KUI_SKIP_TST_RELEASE == 'false' }}
    needs: approval-gate-tst
    uses: ./.github/workflows/release-azure-function-tst.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Test
    secrets: inherit

  skip-release-prd:
    if: ${{ vars.KUI_SKIP_PRD_RELEASE != 'false' }}
    needs: release-tst
    runs-on: ubuntu-latest
    steps:
      - name: Check for Skipping PRD
        run: |
          echo "PRD release check KUI_SKIP_PRD_RELEASE: ${{ vars.KUI_SKIP_PRD_RELEASE }}"

  approval-gate-prod:
    if: ${{ vars.KUI_SKIP_PRD_RELEASE == 'false' }}
    needs: release-tst
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Production"

  release-prd:
    if: ${{ vars.KUI_SKIP_PRD_RELEASE == 'false' }}
    needs: approval-gate-prod
    uses: ./.github/workflows/release-azure-function-prd.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Production
    secrets: inherit
