name: CI/CD Build and release pipeline for (Development, Test, Production)

on:
  push:
    branches:
      - develop
      - main
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:

  init-vars:
    runs-on: ubuntu-latest
    outputs:
      SKIP_RELEASES: ${{ steps.set-vars.outputs.SKIP_RELEASES }}
    steps:
      - id: set-vars
        run: |
          echo "SKIP_RELEASES=${{ github.event_name == 'push' && 'true' || 'false' }}" >> $GITHUB_OUTPUT
 
  check-settings:
    needs: init-vars
    runs-on: ubuntu-latest
    steps:
      - name: Check pre-execution settings
        run: |
          echo "SKIP_RELEASES: ${{ needs.init-vars.outputs.SKIP_RELEASES }}"

  skip-releases:
    needs: [init-vars, check-settings]
    if: ${{ needs.init-vars.outputs.SKIP_RELEASES == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check for Skipping releases
        run: |
          echo "SKIP_RELEASES: ${{ needs.init-vars.outputs.SKIP_RELEASES }}"

  release-dev:
    needs: skip-releases
    runs-on: ubuntu-latest
    steps:
      - name: TEMP RELEASE DEV
        run: |
          echo "release-dev executed"