name: CICD (Dev, Staging, Prod)

on:
  push:
    branches:
      - develop
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:

jobs:

  build:
    uses: ./.github/workflows/build-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development

  release-dev:
    needs: build
    uses: ./.github/workflows/release-azure-function-dev.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  approval-gate-tst:
    needs: release-dev
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: write-host "Approve for $($env.ENV_NAME)"

  release-tst:
    needs: approval-gate-tst
    uses: ./.github/workflows/release-azure-function-tst.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Test
    secrets: inherit
