name: CICD (Dev, Staging, Prod)

on:
  push:
    branches:
      - develop
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:

jobs:

  build:
    uses: ./.github/workflows/build-azure-function.yml
    secrets: inherit

  unit-test:
    needs: build
    uses: ./.github/workflows/unit-test-azure-function.yml
    secrets: inherit  
