name: CICD Build and release pipeline for (Development, Test, Production)

on:
  push:
    branches:
      - develop
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:
  
defaults:
  run:
    shell: bash

jobs:

  unit-test:
    uses: ./.github/workflows/test-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  build:
    needs: unit-test
    uses: ./.github/workflows/build-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development

  release-dev:
    needs: build
    uses: ./.github/workflows/release-azure-function-dev.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  approval-gate-tst:
    needs: release-dev
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Test"

  release-tst:
    needs: approval-gate-tst
    uses: ./.github/workflows/release-azure-function-tst.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Test
    secrets: inherit

  approval-gate-prod:
    needs: release-tst
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Production"

  release-prd:
    needs: approval-gate-prod
    uses: ./.github/workflows/release-azure-function-prd.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Production
    secrets: inherit
