name: CICD (Dev, Staging, Prod)

on:
  push:
    branches:
      - develop
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:

  build:
      uses: ./.github/workflows/build-azure-function.yml
      secrets: inherit
