name: CICD Build and release pipeline for (Development, Test, Production)
on:
  push:
    branches:
      - develop
  pull_request_review:
    types:
      - submitted

  workflow_dispatch:

env:
  SKIP_TST_RELEASE: ${{ vars.SKIP_TST_RELEASE || 'true' }}
  SKIP_PRD_RELEASE: ${{ vars.SKIP_PRD_RELEASE || 'true' }}

defaults:
  run:
    shell: bash

jobs:

  unit-test:
    uses: ./.github/workflows/test-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  build:
    needs: unit-test
    uses: ./.github/workflows/build-azure-function.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development

  release-dev:
    needs: build
    uses: ./.github/workflows/release-azure-function-dev.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Development
    secrets: inherit

  approval-gate-tst:
    if: ${{ vars.SKIP_TST_RELEASE == 'false' }}
    needs: release-dev
    environment: Test
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Test"

  release-tst:
    if: ${{ vars.SKIP_TST_RELEASE == 'false' }}
    needs: approval-gate-tst
    uses: ./.github/workflows/release-azure-function-tst.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Test
    secrets: inherit

  approval-gate-prod:
    if: ${{ vars.SKIP_PRD_RELEASE == 'false' }}
    needs: release-tst
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: approved
        run: echo "Approve for Production"

  release-prd:
    if: ${{ vars.SKIP_PRD_RELEASE == 'false' }}
    needs: approval-gate-prod
    uses: ./.github/workflows/release-azure-function-prd.yml
    with:
      KUI_ARTIFACT_ZIP_NAME: http-post-exp-fa-package
      environment: Production
    secrets: inherit
